root { 
  display: block;
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

.errorMsg {
  font-size: xxx-large;
  border-width: 2px;
  border-bottom-style: solid;
  border-color: blue;
  color: red;
}

.saveButton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: crosshair;
  width: 100%;

}